
* {
	box-sizing: border-box;
}

#jumbotron {
	background-color: brown;
	color: white;
}

.panel-heading {
	background-color: #427AB2;
	color: white;
}

#add-train {
	background-color: #427AB2;
	color: white;
}

#table-head {
	position: relative;
}